<footer>
  <div class="footer-container">
      <div class="footer-logo">
          <a href="../index.html"><img src="../assets/images/logo.svg" alt="Nutrition App"></a>
      </div>
      <ul class="footer-links">
          <li><a href="about.html">About</a></li>
          <li><a href="privacy.html">Privacy</a></li>
          <li><a href="terms.html">Terms</a></li>
      </ul>
      <div class="footer-icons">
          <a href="#"><img src="../assets/images/Water Plastic Icon.svg" alt="Water Icon"></a>
          <a href="#"><img src="../assets/images/Meal Icon.svg" alt="Meal Icon"></a>
      </div>
  </div>
  <p>&copy; 2025 Nutrition App. All rights reserved.</p>
</footer>
