<header>
  <nav class="main-nav">
      <div class="logo">
          <a href="../index.html"><img src="../assets/images/logo.svg" alt="Nutrition App"></a>
      </div>
      <ul class="nav-links">
          <li><a href="mealplanner.html">Meal Planner</a></li>
          <li><a href="watertracker.html">Water Tracker</a></li>
          <li><a href="community.html">Community</a></li>
      </ul>
      <div class="profile-icon">
          <a href="profile.html"><img src="../assets/images/profile-icon.svg" alt="Profile"></a>
      </div>
  </nav>
</header>
